<section class="experience section">
  <div class="container">
    <h2 class="second-title experience-ttl">Coffee Moments</h2>
    <p class="section-description experience-txt">
      Experience the warmth and community of CoffeeJoy.
    </p>
    <ul class="experience-list">
      <li>
        <picture class="experience-image">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/coffee-cup-desk-min.jpg    1x,
              /img/experience/coffee-cup-desk@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/coffee-cup-tab-min.jpg    1x,
              /img/experience/coffee-cup-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/coffee-cup-mob-min.jpg    1x,
              /img/experience/coffee-cup-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/experience/coffee-cup-desk-min.jpg"
            alt="ceramic cup with a latte"
          />
        </picture>
      </li>
      <li>
        <picture class="experience-image">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/breakfast-desk-min.jpg    1x,
              /img/experience/breakfast-desk@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/breakfast-tab-min.jpg    1x,
              /img/experience/breakfast-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/breakfast-mob-min.jpg    1x,
              /img/experience/breakfast-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/experience/breakfast-desk-min.jpg"
            alt="a breakfast scene with coffee and croissant"
          />
        </picture>
      </li>
      <li>
        <picture class="experience-image">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/quiet-cafe-desk-min.jpg    1x,
              /img/experience/quiet-cafe-desk@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/quiet-cafe-tab-min.jpg    1x,
              /img/experience/quiet-cafe-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/quiet-cafe-mob-min.jpg    1x,
              /img/experience/quiet-cafe-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/experience/quiet-cafe-desk-min.jpg"
            alt="a quiet cafe corner with a wooden table and a chair"
          />
        </picture>
      </li>
      <li>
        <picture class="experience-image">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/hands-of-barista-desk-min.jpg    1x,
              /img/experience/hands-of-barista-desk@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/hands-of-barista-tab-min.jpg    1x,
              /img/experience/hands-of-barista-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/hands-of-barista-mob-min.jpg    1x,
              /img/experience/hands-of-barista-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/experience/hands-of-barista-desk-min.jpg"
            alt="hands of barista pouring an espresso shot into ceramic cup"
          />
        </picture>
      </li>
      <li>
        <picture class="experience-image">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/cafe-coffeejoy-desk-min.jpg    1x,
              /img/experience/cafe-coffeejoy-desk@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/cafe-coffeejoy-tab-min.jpg    1x,
              /img/experience/cafe-coffeejoy-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/cafe-coffeejoy-mob-min.jpg    1x,
              /img/experience/cafe-coffeejoy-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/experience/cafe-coffeejoy-desk-min.jpg"
            alt="a wide view  of the CoffeeJoy interior"
          />
        </picture>
      </li>
      <li>
        <picture class="experience-image">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/two-coffees-cup-desk-min.jpg    1x,
              /img/experience/two-coffees-cup-desk@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/two-coffees-cup-tab-min.jpg    1x,
              /img/experience/two-coffees-cup-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/two-coffees-cup-mob-min.jpg    1x,
              /img/experience/two-coffees-cup-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/experience/two-coffees-cup-desk-min.jpg"
            alt="two coffee cups on a small round table"
          />
        </picture>
      </li>
      <li>
        <picture class="experience-image">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/takeaway-coffee-cup-desk-min.jpg    1x,
              /img/experience/takeaway-coffee-cup-desk@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/takeaway-coffee-cup-tab-min.jpg    1x,
              /img/experience/takeaway-coffee-cup-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/takeaway-coffee-cup-mob-min.jpg    1x,
              /img/experience/takeaway-coffee-cup-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/experience/takeaway-coffee-cup-desk-min.jpg"
            alt="a takeaway cup with a kraft sleeve placed on a woodeen bench"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
