<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="footer-start">
        <a href="/index.html"
          ><img
            class="logo-link"
            src="/img/logo.svg"
            alt="Coffee Joy logo"
            width="196"
            height="84"
        /></a>
        <ul class="footer-social-list">
          <li class="social-list-item">
            <a target="_blank" href="https://www.facebook.com/"
              ><svg width="32" height="32">
                <use href="/img/icons.svg#facebook"></use></svg
            ></a>
          </li>
          <li class="social-list-item">
            <a target="_blank" href="https://www.instagram.com/"
              ><svg width="32" height="32">
                <use href="/img/icons.svg#instagram"></use></svg
            ></a>
          </li>
          <li class="social-list-item">
            <a target="_blank" href="https://x.com/"
              ><svg width="32" height="32">
                <use href="/img/icons.svg#icon-custom"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <nav>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="#welcome">About us</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#quality">Benefits</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#experience">Gallery</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#testimonials">Testimonial</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#location">Location</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <p class="footer-ending">© 2025 CoffeeJoy. All rights reserved.</p>
</footer>
