<footer class="footer">
  <div class="container">
    <div class="footer-start">
      <img src="../img/logo.svg" width="143" height="83">
      <ul class="footer-social-list">
        <li class="social-list-item"><a href="https://www.facebook.com/"><svg width="24" height="24"><use href="../img/icons.svg#facebook"></use></svg></a></li>
        <li class="social-list-item"><a href="https://www.instagram.com/"><svg width="24" height="24"><use href="../img/icons.svg#instagram"></use></svg></a></li>
        <li class="social-list-item"><a href="https://x.com/"><svg width="24" height="24"><use href="../img/icons.svg#icon-custom"></use></svg></a></li>
      </ul>
    </div>
    <ul class="nav-list">
    <li class="nav-list-item">
      <a class="nav-list-link" href="">About us</a>
    </li>
    <li class="nav-list-item">
      <a class="nav-list-link" href="">Benefits</a>
    </li>
    <li class="nav-list-item">
      <a class="nav-list-link" href="">Gallery</a>
    </li>
    <li class="nav-list-item">
      <a class="nav-list-link" href="">Testimonial</a>
    </li>
    <li class="nav-list-item">
      <a class="nav-list-link" href="">Location</a>
    </li>
    </ul>
  </div>
  
  <p class="footer-ending">© 2025 CoffeeJoy. All rights reserved.</p>
</footer>
