<header class="header">
  <div class="head-container container">
    <nav class="header-nav">
      <a class="header-logo" href="/src/index.html">
        <img src="/img/logo.svg" width="84px" height="36px" alt="Team project">
      </a>
      <ul class="nav-list row-list">
        <li class="nav-list-item"><a class="nav-list-link nav-link" href="#welcome">About us</a></li>
        <li class="nav-list-item"><a class="nav-list-link nav-link" href="#quality">Benefits</a></li>
        <li class="nav-list-item"><a class="nav-list-link nav-link" href="#experience">Gallery</a></li>
        <li class="nav-list-item"><a class="nav-list-link nav-link" href="#testimonial">Testimonial</a></li>
        <li class="nav-list-item"><a class="nav-list-link nav-link" href="#location">Location</a></li>
      </ul>
    </nav>
    <div class="burger-btn-wrapper">
      <button class="burger-btn" type="button" aria-label="Open navigation menu">
        <svg class="burger-icon" width="48" height="48">
          <use href="/img/icons.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
