<div class="mobile-menu is-open" id="mobile-menu">
  <div class="overlay"></div>
  <div class="panel">
    <div class="top">
      <a class="logo" href="./index.html" aria-label="CoffeeJoy home">
        <img src="./img/logo.svg" alt="CoffeeJoy logo" width="84" height="36" />
      </a>
      <button class="close" type="button" aria-label="Close">
        <svg width="24" height="24">
          <use href="./img/icons.svg#close"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav" aria-label="Mobile navigation">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link" href="#welcome">About us</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#quality">Benefits</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#experience">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#testimonials">Testimonial</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
