<div class="mobile-menu">
  <div class="mobile-menu-container">
    <a class="logo" href="./index.html">
      <img src="./img/logo.svg" alt="CoffeeJoy logo" width="84" height="36" />
    </a>
    <button class="close" type="button">
      <svg class="cross" width="24" height="24">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>

    <nav class="mobile-menu-nav">
      <ul class="nav-list nav-list-center">
        <li class="nav-list-item">
          <a class="nav-list-link" href="#welcome">About us</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#quality">Benefits</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#experience">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#testimonials">Testimonial</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
