<section class="quality-section">
  <div class="container">
    <p class="quality">
      Quality
    </p>
    <h2 class="quality-title">
      Why CoffeeJoy Stands Out <br> from the Rest
    </h2>
    <p class="quality-descr">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted with care <br> by our skilled
      baristas.
      Our flexible subscription plans ensure that your coffee experience is <br>tailored to your needs.
    </p>
    <ul class="quality-list">
      <li class="quality-item">
        <img class="quality-item-img" src="../img/quality/quality-img-1.png" alt="quality-img-1">
        <h3 class="quality-item-title">
          Fresh-Roasted Coffee for Every Taste
        </h3>
        <p class="quality-item-descr">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="quality-item">
        <img class="quality-item-img" src="../img/quality/quality-img-2.png" alt="quality-img-2">
        <h3 class="quality-item-title">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="quality-item-descr">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="quality-item">
        <img class="quality-item-img" src="../img/quality/quality-img-3.png" alt="quality-img-3">
        <h3 class="quality-item-title">
          Cozy Atmosphere
        </h3>
        <p class="quality-item-descr">
          We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</section>