<section id="quality" class="quality section">
  <div class="container">
    <span class="second-title-part">Quality</span>
    <h2 class="quality-title">
      Why CoffeeJoy Stands Out from the Rest
    </h2>
    <p class="quality-descr">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted with care by our skilled
      baristas.
      Our flexible subscription plans ensure that your coffee experience is tailored to your needs.
    </p>
    <ul class="quality-list">
      <li class="quality-item">
        <picture>
          <source media="(min-width: 1440px)"
            srcset="../img/quality/coffee-1-min.jpg 1x, ../img/quality/coffee-1@2x-min.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="../img/quality/coffee-1-min.jpg 1x, ../img/quality/coffee-1@2x-min.jpg 2x" />
          <source media="(max-width: 767px)"
            srcset="../img/quality/coffee-1-min.jpg 1x, ../img/quality/coffee-1@2x-min.jpg 2x" />
          <img class="quality-item-img" src="../img/quality/coffee-1-min.jpg" alt="coffee-1">
        </picture>
        <h3 class="quality-item-title">
          Fresh-Roasted Coffee for Every Taste
        </h3>
        <p class="quality-item-descr unusual">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="quality-item">
        <picture>
          <source media="(min-width: 1440px)"
            srcset="../img/quality/coffee-2-min.jpg 1x, ../img/quality/coffee-2@2x-min.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="../img/quality/coffee-2-min.jpg 1x, ../img/quality/coffee-2@2x-min.jpg 2x" />
          <source media="(max-width: 767px)"
            srcset="../img/quality/coffee-2-min.jpg 1x, ../img/quality/coffee-2@2x-min.jpg 2x" />
          <img class="quality-item-img" src="../img/quality/coffee-2-min.jpg" alt="coffee-2">
        </picture>
        <h3 class="quality-item-title">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="quality-item-descr">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="quality-item">
        <picture>
          <source media="(min-width: 1440px)"
            srcset="../img/quality/coffee-3-min.jpg 1x, ../img/quality/coffee-3@2x-min.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="../img/quality/coffee-3-min.jpg 1x, ../img/quality/coffee-3@2x-min.jpg 2x" />
          <source media="(max-width: 767px)"
            srcset="../img/quality/coffee-3-min.jpg 1x, ../img/quality/coffee-3@2x-min.jpg 2x" />
          <img class="quality-item-img" src="../img/quality/coffee-3-min.jpg" alt="coffee-3">
        </picture>
        <h3 class="quality-item-title">
          Cozy Atmosphere
        </h3>
        <p class="quality-item-descriptios">
          We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</section>