<section class="subscribe section">
  <div class="container">
    <div class="subscribe-wrapper">
      <h2 class="subscribe-title second-title">Join Our Coffee Community</h2>
      <p class="subscribe-text section-description">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>
      <form class="subscribe-form" action="#" method="post">
        <div class="subscribe-form-group">
          <input
            class="subscribe-form-input"
            name="email"
            id="email"
            type="email"
            placeholder="Your Email Here"
            required
          />
          <button type="button" class="subscribe-form-button" data-modal-open>
            Subscribe
            <svg class="icon" width="24" height="24">
              <use href="/img/icons.svg#chevrons-right"></use>
            </svg>
          </button>
        </div>
        <label class="subscribe-form-label" for="email"
          >By clicking Get Started, you agree to our Terms and Conditions.
        </label>
      </form>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/subscribe/pc/community-picture-pc@1x.webp 1x,
          /img/subscribe/pc/community-picture-pc@2x.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/subscribe/laptop/community-picture-laptop@1x.webp 1x,
          /img/subscribe/laptop/community-picture-laptop@2x.webp 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/subscribe/mobile/community-picture-mobile@1x.webp 1x,
          /img/subscribe/mobile/community-picture-mobile@2x.webp 2x
        "
      />
      <img
        class="subscribe-image"
        src="/img/subscribe/mobile/community-picture-mobile@1x.jpg"
        alt="Coffee community members enjoying coffee together"
      />
    </picture>
  </div>
</section>
