/* Base Styles (Mobile First) */
.hero {
  background-image: url(../img/hero/hero-mob.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 375px;
}

.hero-container {
  padding: 108px 32px;
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 24px;
}

.hero-text {
  font-size: 18px;
  color: #fff;
  margin-bottom: 32px;
}

.hero-btn {
  border-radius: 100px;
  padding: 10px 24px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6f4e37;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  opacity: 0.5;
  color: #0b0803;
}

/* Retina для мобільних */
@media (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/hero-mob@2x.webp);
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .hero-container {
    padding-top: 113px;
    padding-bottom: 113px;
    padding-left: 32px;
    padding-right: 172px;
  }
  .hero {
    background-image: url(../img/hero/hero-tab.webp);
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/hero-tab@2x.webp);
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .hero-container {
    padding-top: 259px;
    padding-bottom: 259px;
    padding-left: 64px;
    padding-right: 816px;
  }
  .hero {
    background-image: url(../img/hero/hero-desc.webp);
    max-width: 1440px;
  }

  .hero-title {
    font-size: 56px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/hero-desc@2x.webp);
  }
}
