.subscribe-form{
    margin-bottom: 32px;
}

.subscribe-form-input{
    width: 100%;
    border-radius: 12px;
    padding: 8px 12px;
    margin-bottom: 24px;
    background-color: inherit;
    border: 1px solid rgba(11, 8, 3, 0.15);
    color:rgba(11, 8, 3, 0.6);
    outline: none;
}

.subscribe-form-input::placeholder{
    color:rgba(11, 8, 3, 0.6);
}

.subscribe-form-button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 44px;
    border-radius: 100px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
    background-color: #6F4E37;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
                inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
                inset 0 0 0 1px rgba(11, 8, 3, 0.15),
                inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
                inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-button:active{
    box-shadow: none;
}

.subscribe-form-button svg{
    fill: #fff;
} 

.subscribe-form-label{
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    display: block;
}

.subscribe-image{
    margin: 0 auto;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .subscribe-form{
        width: 522px;
        text-align: left;
    }

    .subscribe-form-input{
        width: 340px;
        margin-bottom: 16px;
    }

    .subscribe-form-group{
        display: flex;
        gap: 24px;
    }

    .subscribe-form-button{
        width: 158px;
    }

    .subscribe-form-label{
    }

    .subscribe-form-button {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .subscribe-form-button svg {
        fill: #fff;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .subscribe-form-button:hover,
    .subscribe-form-button:focus {
        background-color: rgba(111, 78, 55, 0.5);
    }

    .subscribe-form-button:hover svg,
    .subscribe-form-button:focus svg {
        fill: rgb(255, 255, 255, 0.5);
    }
}

@media only screen and (min-width: 1440px) {
    .subscribe .container{
        display: flex;
        align-items: center;
        gap: 32px;
    }
    
    .subscribe-wrapper{
        width: 640px;
    }

    .subscribe-title{
        max-width: 640px;
    }
}